* {
    list-style: none;
}

.home {
    align-items: center;
    color: #3e497a;
}

.home h1 {

    color: whitesmoke;
    background-color: #0d1117;
    margin: 0;
}

html {
    list-style: none;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d1117;
    color: #f0f0f0;

    h3 {
        color: whitesmoke;
        font-size: 37px;
        margin-top: 1em;
    }

    p {
        font-size: 32px;
    }

    span {
        padding: 1em;
        font-size: 1.3em;
    }

    img {
        padding-top: 2em;
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }


}








.about .prompt {
    font-size: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0.5em;
    gap: 1em;
    flex-wrap: wrap;
    margin-bottom: 80px;

}


.prompt svg {
    font-size: 60px;
    display: inline-block;
}


.skills {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0d1117;

}

.skillsItem {
    width: 300px;
    height: 200px;
    min-width: 100px;
    flex-grow: 1;
    margin-top: 10px;
}

.skills h1 {
    font-size: 3em;
    padding: 0.4em;
    color: black;
    margin-block-start: 0;


}

.skill-title {
    font-size: 2em;
    color: #7b8ead;

}

.skill-desc {
    font-size: 22px;
    color: whitesmoke;
}




@media only screen and (max-width: 1200px) {
    .skills {
        flex-direction: column;
    }

    .skills h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .about h2 {
        font-size: 40px;
    }

    .about .prompt {
        margin-top: 10px;
        font-size: 20px;
        width: 80%;
    }

    .skills {
        text-align: center;
        flex-direction: column;
    }

    .list {
        padding: 0;
    }

    .skills h2 {
        font-size: 30px;
    }

    .skill-desc {
        font-size: 20px;
    }
}