.project {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #0d1117;
}

.project h1 {
    margin-top: 20px;
    color: whitesmoke;
    font-size: 35px;
}

.project img {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.videoframe{
    width: 50%;
    height: 600px;
    padding: 2em;
}



.project p {
    font-size: 24px;
    color: whitesmoke;
}

.project svg {
    font-size: 60px;
    color: whitesmoke;
}

.link {
    text-decoration: none;
    margin-top: 1em;
    color: black;
    cursor: pointer;
}
label{
    color: whitesmoke;
}




@media only screen and (max-width: 800px) {
    .videoframe{
        width: 90%;
        
    }
    
}
